body{
  background-color: aliceblue;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
}
a:visited{
  color: aliceblue;
}

.header{
  top: 5px;
  left: 5px;
  right: 5px;
  height: 100px;
}
.mainbody{
  top: 114px;
  left: 5px;
  right: 5px;
  bottom: 64px; 
  padding-right: 5px;
}
.footer {
  background-color: #111;
  bottom: 5px;
  height: 50px;
  right: 5px;
  left: 5px; 
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  color:aliceblue;
  text-align: center;
  position: fixed;
}
.topleft {
  position: absolute;
  top: 64px;
  left: 100px;
  width: 550px;
}
.bottomleft {
  position: absolute;
  top: 530px;
  bottom: 130px;
  left: 100px;
  width: 550px;
}
.topright {
  position: absolute;
  top: 64px;
  right: 100px;
  width: 550px;
}
.bottomright {
  position: absolute;
  top: 530px;
  bottom: 130px;
  right: 100px;
  width: 550px;
}
.cap{
  background-color: #333;
  color: aliceblue;
  font-size: 20px;
}
@viewport {
  width: device-width ;
  zoom: 1.0 ;
}